* {
   font-family: "Roboto Condensed", sans-serif;
   margin: 0px;
   padding: 0px;
}
body {
   width: 80%;
   margin: 20px auto;
}
/* shear css */

.buttons {
   padding: 10px 25px;
   background-color: orangered;
   color: white;
   font-size: large;
   border: 0px;
   border-radius: 8px;
   margin: 10px 0px;
}
nav {
   display: flex;
   justify-content: space-between;
}
.nav-img {
   display: flex;
   margin: 0px;
   gap: 4px;
   align-items: center;
}
.nav-img h1 {
   font-size: 30px;
}
.tour {
   color: orangered;
}
.nav-img img {
   width: 35px;
}
.nav-btn {
   display: flex;
   list-style: none;
   gap: 20px;
}
.nav-btn li:hover {
   color: orangered;
   text-decoration: underline;
}
.mano-hidden {
   display: none;
}

/* banner set */
.banner {
   background-image: linear-gradient(rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.61)), url("/Images/Group\ 13\ \(1\)\ \(1\).png");
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 20px;
   width: 100%;
   height: 100%;
   margin-top: 20px;
   padding-bottom: 100px;
}
.banner-text {
   text-align: center;
}
.banner-text h1 {
   font-size: 45px;
   color: white;
   padding: 100px 0px 10px 0px;
}
.banner-description {
   color: white;
   margin: 4px 0px 25px 0px;
}
.banner-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 0px 35%;
   background-color: rgba(255, 255, 255, 0.24);
   padding: 10px 15px;
   border-radius: 10px;
   gap: 10px;
}
.btn-gap {
   padding: 25px;
}
.Find-Now-btn {
   display: flex;
   justify-content: center;
   gap: 10px;
   padding: 5px;
   background-color: rgba(255, 255, 255, 0.918);
   border-radius: 8px;
   background-color: orangered;
}
.btn {
   display: flex;
   justify-content: space-between;
   gap: 25px;
   padding: 7px;
   background-color: rgba(255, 255, 255, 0.918);
   border-radius: 8px;
}

/* popular-section */

.popular-section {
   margin-top: 60px;
   display: flex;
   justify-content: space-between;
}
.popular-section h1 {
   margin-bottom: 50px;
   font-size: 60px;
}
.popular-section p {
   margin: 15px 0px;
}
.popular-section div li {
   padding: 10px 0px;
}
.mountent {
   width: 100%;
}

/* description-section */
.description-section {
   text-align: center;
   margin-top: 100px;
}
.description-section h1 {
   font-size: 40px;
   margin: 20px 0px;
}
.grid-item {
   margin: 0px 150px;
}
.grid-section {
   /* display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 0px;
   margin-top: 28px;
   

   border: 2px solid tomato;
   justify-content: center; */
   /* margin: 0px 130px; */
   display: grid;
   grid-template-columns: repeat(2, 3fr);
   gap: 10px;
}
.grid-section {
   display: grid;
   grid-template-columns: repeat(2, 3fr);
   gap: 10px;
   /* margin: 0px 130px; */
}
.col-span {
   grid-column: span 2;
}
.space-grid1 {
   grid-column: span 3;
}
.img-w {
   background-size: cover;
}

.bg-grid {
   background-image: linear-gradient(rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.61)), url("/Images/Rectangle\ 5.png");
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 20px;
}
.bg-grid h4 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 200px;
   color: white;
}

/* Why Choose Us */

.choose-section {
   text-align: center;
   margin: 30px 0px;
}
.choose-section h1 {
   font-size: 40px;
}
.icon-section {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
}

.icon-card {
   background-color: rgba(255, 228, 196, 0.199);
   border-radius: 10px;
   padding-left: 24px;
   height: 200px;
}
.icon-card-2 {
   background-color: rgba(189, 183, 107, 0.192);
   border-radius: 10px;
   padding-left: 24px;
   height: 200px;

   width: 50%;
   margin: 10px auto;
}

.icon-size {
   width: 50px;
}

/* discount-section */

.discount-section {
   text-align: center;
   margin: 20px 0px;
}
.discount-section-img {
   background-image: linear-gradient(rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.61)), url("/Images/Group\ 39.png");
   background-repeat: no-repeat;
   background-size: cover;
   height: 500px;
   margin: 20px;
   border-radius: 20px;
}
.position {
   display: flex;
   align-items: center;
   justify-content: end;
   padding: 70px;
}
.position-1 {
   display: flex;
   align-items: center;
   padding: 70px;
}
.position-2 {
   display: flex;
   align-items: center;
   justify-content: end;
   padding: 70px;
}
.discount-card {
   background-color: rgba(255, 255, 255, 0.747);
   padding: 30px;
   display: flex;
   flex-direction: column;
   border-radius: 20px;
   width: 30%;
}
.All-Packages {
   text-align: center;
}
.card-title {
   font-size: xx-large;
   margin: 10px 0px;
}
.discount-card p span {
   margin: 0px 8px;
   padding: 10px 0px;
}
.card-price {
   color: orangered;
   font-weight: 700;
   padding: 10px 0px;
}

/* parfect-place-section */
.parfect-place-section {
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.parfect h1 {
   font-size: 40px;
   margin-bottom: 30px;
}
.parfect li {
   padding: 15px 0px;
}
.video-control {
   width: 80%;
   height: 450px;
}
.input-box {
   border: 1px solid orangered;
   padding: 45px 66px;
   text-align: center;
   border-radius: 10px;
   background-color: rgba(245, 245, 220, 0.603);
}
.input-box h2 {
   font-size: 40px;
   padding-top: 20px;
   margin: 10px;
}
.input-container {
   display: flex;
   justify-content: space-around;
   margin-top: 40px;
}
.input-img {
   width: 100%;
}
.input-text {
   padding: 13px 15px;
   width: 70%;
   margin-bottom: 10px;
   border-radius: 10px;
   background-color: rgba(169, 169, 169, 0.226);
   border: 0px;
}
.token {
   position: relative;
}
.discount-token {
   background-color: orangered;
   border-radius: 10px;
   text-align: center;
   color: white;
   width: 28%;
   padding: 15px 30px;
   position: absolute;
   right: 8px;
   bottom: 50px;
   transform: rotate(-20deg);
}
footer {
   background-color: rgba(222, 184, 135, 0.486);
   margin-top: 30px;
   padding: 30px;
   border-radius: 20px;
   height: 300px;
}

.footer-tour {
   display: flex;
   justify-content: center;
   align-items: center;
}
.footer-icon {
   display: flex;
   justify-content: center;
   margin: 10px 0px;
   gap: 16px;
}
.footer-description {
   text-align: center;
   margin: 16px 0px;
}

/* Responsive site */

@media screen and ((max-width: 600px)) {
   body {
      width: 90%;
      margin: 10px 1em;
   }
   .nav-btn {
      display: none;
   }
   .mano-hidden {
      display: block;
   }
   .banner {
      padding-bottom: 10px;
   }
   .position,
   .position-1,
   .position-2 {
      padding: 5px;
   }
   .banner-btn,
   .popular-section,
   .position,
   .position-1,
   .position-2,
   .parfect-place-section {
      flex-direction: column;
   }
   .input-container {
      flex-direction: column-reverse;
      align-items: center;
   }
   .icon-section {
      grid-template-columns: repeat(1, 1fr);
   }
   .banner-text h1 {
      padding-top: 10px;
   }
   .banner-btn {
      margin: 10px;
      height: 150px;
   }

   .btn,
   .Find-Now-btn,
   .icon-card-2 {
      width: 100%;
   }
   .discount-card {
      padding: 30px 10px;
      width: 80%;
   }

   .mountent {
      width: 100%;
   }
   .popular-section h1 {
      font-size: 38px;
   }
   .video-control {
      height: 100%;
      width: 100%;
      border-radius: 20px;
   }
   .input-img {
      margin-bottom: 10px;
   }
}
